* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
/* @font-face {
  font-family: 'Avenir LT Std';
  src: url('/src/fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('/src/fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/src/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('/src/fonts/AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/src/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('/src/fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@media(max-width:767px) {
  body {
    touch-action: none;
  }
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingContent {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContent .loadWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loadingContent .loadWrap h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 50px;
}

.loadingContent .loadWrap p {
  max-width: 230px;
  font-size: 12px;
  text-align: center;
}

/* checkout */
.checkoutAddMessage {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutAddMessage .checkAddWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.checkoutAddMessage .checkAddWrap .prodItems {
  margin-top: 40px;
}

.checkoutAddMessage .checkAddWrap .prodItems .item {
  display: flex;
  margin-bottom: 20px;
}

.checkoutAddMessage .checkAddWrap .prodItems .inf img,
.checkoutAddMessage .checkAddWrap .prodItems .sup img {
  width: 100%;
}

.checkoutAddMessage .checkAddWrap .prodItems .inf img {
  position: absolute;
  top: -95px;
}

.checkoutAddMessage .checkAddWrap .prodItems .item .imgContent {
  display: block;
  width: 79px;
  height: 99px;
  overflow: hidden;
  min-width: 79px;
  max-width: 79px;
  position: relative;
}

.checkoutAddMessage .checkAddWrap .prodItems .item .info {
  padding-left: 10px;
}

.checkoutAddMessage .checkAddWrap .prodItems .item .info h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
}

.checkoutAddMessage .checkAddWrap .prodItems .item .info p {
  font-size: 14px;
}

.section_add_cart_desk {
  display: block;
  flex-direction: column;
  width: 415px;
  margin: 0 auto;
  position: absolute;
  bottom: 98px;
  left: 50%;
  transform: translateX(-50%);
}

.section_add_cart_desk .btnAddCart {
  background: #000;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 16px;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  line-height: 16px;
  transition: all 0.3s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  height: 51px;
  margin-top: 15px;
}

.section_add_cart_desk .btnVolver {
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: 0;
  padding: 16px;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  line-height: 16px;
  transition: all 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  height: 51px;
}


.modal-active {
  overflow: hidden;
}

.open-modal-probador {
  background-color: #000;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  color: #fff;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 161px;
  height: 54px;
  padding-left: 65px;
  transition: all .3s ease-in-out;
  font-family: 'Lato', sans-serif;
  z-index: 9;
  right: 0;
  top: 0;
}

.open-modal-probador:hover {
  background-color: #2d2d2d;
  color: #fff;
}

.open-modal-probador::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 22px;
  height: 24px;
  position: absolute;
  left: 20px;
}

@media (max-width: 767px) {
  .open-modal-probador {
    font-size: 12px;
    width: 115px;
    height: 33px;
    padding: 5px 7px 5px 7px;
    padding-left: 38px;
  }

  .open-modal-probador::before {
    left: 5px;
  }
}

.modal-wrap,
.modal-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.modal-wrap {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.modal-wrap .modal-overlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.37);
}

@media (max-width: 767px) {
  .modal-wrap {
    position: fixed;
  }
}

@media (min-width: 768px) {
  .modal-wrap {
    position: fixed;
  }
}

.modal-wrap .modal-content {
  background-color: #fff;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 12;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0.8);
  transition: all 0.3s ease-in-out;
  height: 100%;
  overflow: hidden;
}

@media(max-width:767px) {
  .modal-wrap .modal-content {
    overflow: hidden;
  }
}

.header-title-modal {
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  height: 82px;
  font-size: 20px;
  padding-left: 200px;
  position: relative;
}

.header-title-modal:before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #DADADA;
  display: block;
  position: absolute;
  left: 150px;
  z-index: 99;
}

@media(max-width:767px) {
  .header-title-modal {
    height: 57px;
    padding-left: 57px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
  }

  .header-title-modal:before {
    display: none;
  }
}

.modal-wrap .modal-close {
  position: absolute;
  left: 59px;
  top: 16px;
  padding: 9px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  font-size: 23px;
  z-index: 99999;
  color: #000;
}

@media(max-width:767px) {
  .modal-wrap .modal-close {
    left: 12px;
    top: 9px;
    padding: 5px;
    font-size: 20px;
  }
}

.modal-wrap.modal-opened {
  opacity: 1;
  visibility: visible;
}

.modal-wrap.modal-opened .modal-content {
  transform: translateY(-50%) scale(1);
}

/* .ulReseList{
  padding: 0;
  margin: 0;
  display: flex;
}
.ulReseList .listItem{
  margin-left: 0;
  list-style-type: none;
  position: relative;
}

.ulReseList .listItem img{
  max-width: 300px;
  width: 98%;
  opacity: 0.5;
}
.ulReseList .listItem.active .buttonPrev{
 position: absolute;
 top: 50%;
 left: 0;
}
.ulReseList .listItem.active .buttonNext{
  position: absolute;
  top: 50%;
  right: 0;
 }
.ulReseList .listItem.active img{
  opacity: 1;
}
.ulReseList .listItem.active .buttonPrev,
.ulReseList .listItem.active .buttonNext{
  display: block;
}
.ulReseList .listItem .buttonPrev,
.ulReseList .listItem .buttonNext{
  display: none;
} */

.messageAddCart {
  display: block;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 36px;
}

.messageAddCart h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.messageAddCart span {
  font-size: 14px;
}

.slick-slider .slick-slide {
  position: relative;

}

.slick-slide {
  width: 250px;
}

@media(min-width:768px) and (max-width:1023px) {
  .messageAddCart {
    padding-bottom: 130px;
  }

  .slick-slide {
    width: 350px;
  }
}

@media(max-width:767px) {
  .slick-slide {
    width: 200px !important;
  }
}

@media(min-width:1401px) and (max-width:1900px) {
  .slick-slide {
    width: 350px !important;
  }
}

@media(min-width:1366px) and (max-width:1400px) {
  .slick-slide {
    width: 250px !important;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .slick-slide {
    width: 200px !important;
  }
}

.slick-slider .slick-slide::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff99;
  z-index: 9;
  position: absolute;
}

.slick-slider .slick-slide.slick-current::before {
  display: none;
}

.slick-slide img {
  margin: 0 auto;
}

.slick-slider .slick-next {
  position: absolute;
  top: 50%;
  right: 30%;
  /* right:36%; */
  z-index: 99;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.slick-slider .slick-prev {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 99;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

@media(max-width:350px) {

  .containerGallery .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-prev {
    top: 50%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 19%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 19%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 82%;
  }
}

@media(min-width:351px) and (max-width:400px) {

  .containerGallery .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-prev {
    top: 50%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery2 .slick-slider .slick-prev {
    top: 80%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 24%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 24%;
  }
}

@media(min-width:401px) and (max-width:450px) {

  .containerGallery .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-prev {
    top: 50%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery2 .slick-slider .slick-prev {
    top: 80%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 26%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 26%;
  }
}

@media(min-width:451px) and (max-width:481px) {

  .containerGallery .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-prev {
    top: 50%;
  }

  .containerGallery .slick-slider .slick-prev {
    left: 29%;
  }

  .containerGallery .slick-slider .slick-next {
    right: 29%;
  }
}

@media(min-width:482px) and (max-width:550px) {

  .containerGallery .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-prev {
    top: 50%;
  }

  .containerGallery .slick-slider .slick-prev {
    left: 31%;
  }

  .containerGallery .slick-slider .slick-next {
    right: 31%;
  }
}

@media(min-width:550px) and (max-width:600px) {

  .containerGallery .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-prev {
    top: 50%;
  }

  .containerGallery .slick-slider .slick-prev {
    left: 31%;
  }

  .containerGallery .slick-slider .slick-next {
    right: 31%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery2 .slick-slider .slick-prev {
    top: 82%;
  }

  .containerGallery2 .slick-slider .slick-prev {
    left: 31%;
  }

  .containerGallery2 .slick-slider .slick-next {
    right: 31%;
  }
}

@media(min-width:768px) and (max-width:1023px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 109%;
  }
}

@media(min-width:1024px) and (max-width:1050px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 109%;
  }

  .containerGallery .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-next {
    top: 50%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 24%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 24%;
  }
}

@media(min-width:1051px) and (max-width:1180px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 23%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 23%;
  }
}

@media(min-width:1181px) and (max-width:1366px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 27%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 27%;
  }

}

@media(min-width:1366px) and (max-width:1400px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 109%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 27%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 27%;
  }

}

@media(min-width:1440px) and (max-width:1500px) {
   
  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 26%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 26%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 109%;
  }
}

@media(min-width:1501px) and (max-width:1600px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 109%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 30%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 30%;
  }

}

@media(min-width:1601px) and (max-width:1800px) {

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery2 .slick-slider .slick-next {
    top: 120%;
  }

  .containerGallery2 .slick-slider .slick-prev,
  .containerGallery .slick-slider .slick-prev {
    left: 30%;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery .slick-slider .slick-next {
    right: 30%;
  }

}

.slick-slider .slick-next::before {
  content: "";
  background-image: url('https://magento-circular.bgroup.com.ar/media/imageeditor/iconos/icon-Arrows.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  font-size: 14px;
  position: relative;
  left: -3px;
}

.slick-slider .slick-prev::after {
  content: "";
  background-image: url('https://magento-circular.bgroup.com.ar/media/imageeditor/iconos/icon-Arrows.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  font-size: 14px;
  position: relative;
  transform: rotate(180deg);
  left: 0;
}

.slick-slider .slick-prev:before {
  display: none;
}

.containerGallery {
  z-index: 999;
  position: relative;
  overflow: hidden;
  height: 380px;
}

@media(max-width:481px) {
  .containerGallery .slick-slider .slick-slide {
    overflow: hidden;
  }
}

@media(max-width:767px) {
  .containerGallery {
    height: 275px;
  }

  .containerGallery .slick-track {
    margin-top: 0px;
  }
}



/*
.containerGallery .slick-slide.slick-active.slick-center.slick-current::after{
  content: '';
  display: block;
  position: absolute;
  left: -123px;
  width: 200px;
  height: 229px;
  background-color: #fff;
  z-index: -9;
}
@media(max-width:767px) {
  .containerGallery .slick-slide.slick-active.slick-center.slick-current::after{
   display: none;
  }
}
@media(min-width: 1366px) and (max-width: 1600px){
  .containerGallery .slick-slide.slick-active.slick-center.slick-current::after{
    width: 151px;
  }
}
 .containerGallery .slick-slide.slick-active.slick-center.slick-current::before{
  content: '';
  display: block;
  position: absolute;
  right: -123px;
  width: 200px;
  height: 229px;
  background-color: #fff;
  z-index: -9;
} 
@media(max-width:767px) {
  .containerGallery .slick-slide.slick-active.slick-center.slick-current::before{
    display: none;
  }
}
@media(min-width: 1024px) and (max-width: 1365px){
  .containerGallery .slick-slide.slick-active.slick-center.slick-current::before{
    width: 145px;
    height: 216px;
  }
  .containerGallery .slick-slide.slick-active.slick-center.slick-current::after{
    width: 145px;
    height: 216px;
  }
}
@media(min-width: 1366px) and (max-width: 1600px){
  .containerGallery .slick-slide.slick-active.slick-center.slick-current::before{
    width: 151px;
    
  }
}
*/
.containerGallery .slick-slider .slick-list {
  height: 229px !important;
  overflow: initial !important;
  width: 100%;
}

@media(max-width:767px) {
  .containerGallery .slick-slider .slick-list {
    height: 127px !important;
  }
}

/* @media (min-width:1366px) and (max-width:1400px){
.containerGallery .slick-slider .slick-list{
  padding: 0px 88px!important;
}
} */
.containerGallery .slick-slider .listItem {
  overflow: hidden;
  height: 181px;
  margin-top: 34px;
}

@media(min-width:768px) and (max-width:1023px) {
  .containerGallery .slick-slider .slick-current .listItem img {}

}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery .slick-slider .listItem {
    height: 147px;
    margin-top: 20px;
  }
}

.containerGallery .slick-slider .listItem img {
  width: 166px;
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery .slick-slider .listItem img {
    width: 127px;
  }
}

.containerGallery .slick-slider .slick-current {
  height: 620px;
}

@media(max-width:767px) {
  .containerGallery .slick-slider .slick-current {
    height: 430px;
  }
}

.containerGallery .slick-slider .slick-current .listItem {
  background-color: transparent;
  transition: width 0.3s ease-in-out;
  animation: cd-bounce-in 0.7s;
  width: 240px !important;
  position: absolute;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  height: 230px;
  border-bottom: 3px solid #fff;
  margin-top: 0;
}

@media(max-width:767px) {
  .containerGallery .slick-slider .slick-current .listItem {
    width: 150px !important;
    height: 170px;
    animation: cd-bounce-inMobile 0.7s;
  }
}

@media(min-width:1024px) and (max-width:1364px) {
  .containerGallery .slick-slider .slick-current .listItem {
    /*     height: 187px; */
    animation: cd-bounce-tablet 0.7s;
  }
}

.containerGallery .slick-slide.slick-current {}

.containerGallery .slick-slider .slick-current .listItem .promocion {
  position: absolute;
  z-index: 999;
  background-color: #000;
  color: #fff;
  /* padding: 3px 10px; */
  border-radius: 4px;
  font-size: 0;
  left: 27px;
  top: 7px;
  display: none;
}

@keyframes cd-bounce-in {
  0% {
    height: 0;
  }

  60% {
    height: 37%;
  }

  100% {
    height: 230px;
  }
}

@keyframes cd-bounce-inMobile {
  0% {
    height: 0;
  }

  60% {
    height: 37%;
  }

  100% {
    height: 170px;
  }
}

@keyframes cd-bounce-tablet {
  0% {
    height: 0;
  }

  60% {
    height: 30%;
  }

  100% {
    height: 187px;
  }
}

.containerGallery .slick-slider .slick-current .listItem img {
  width: 196px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 572px;
}

@media(max-width:767px) {
  .containerGallery .slick-slider .slick-current .listItem img {
    width: 130px;
    height: 390px;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery .slick-slider .slick-current .listItem {
    height: 187px;
  }

  .containerGallery .slick-slider .slick-current .listItem img {
    height: auto;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery {
    height: 320px;
  }

  .containerGallery .slick-slider .slick-current .listItem img {
    width: 156px;
  }
}

@media(min-width:1366px) and (max-width:1438px) {
  .containerGallery {
    height: 384px;
  }
}
@media(min-width:1439px) and (max-width:1500px) {
  .containerGallery{
    height: 350px;
   }
}

@media(max-width:767px) {
  .containerGallery .slick-slider .listItem {
    margin-top: 15px;
    height: 121px;
  }

  .container_probador_plugin .info_probador .block.inferior {
    padding-top: 30px;
  }
}

/* @media(min-width:1024px) and (max-width:1400px){
  .containerGallery .slick-list{
    padding: 0px 120px!important;
  }
} */

/* galeria inferior */

.containerGallery2 {
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 99;
  height: 620px;
  display: block;
}

@media(max-width:767px) {
  .containerGallery2 {
    height: 430px;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery2 .slick-slider {
    padding-top: 150px;
  }

  .containerGallery2 .slick-slider .slick-next,
  .containerGallery2 .slick-slider .slick-prev {
    top: 67%;
  }
}


.containerGallery2 .slick-slider .slick-list {
  height: 350px !important;
  overflow: initial !important;
}

.containerGallery2 .slick-slider .listItem {
  overflow: hidden;
  height: 300px;
  margin-top: 280px;
}

@media(max-width:767px) {
  .containerGallery2 .slick-slider .listItem {
    margin-top: 192px;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery2 .slick-slider .listItem {
    height: 254px;
    margin-top: 57px;
  }
}

.containerGallery2 .slick-slider .listItem img {
  object-position: bottom;
  height: 300px;
  object-fit: cover;

}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery2 .slick-slider .listItem img {
    width: 130px !important;
    height: 254px;
  }
}

.containerGallery2 .slick-slider .slick-current .listItem img {
  width: 196px;
  height: 650px;
}

@media(max-width:767px) {
  .containerGallery2 .slick-slider .slick-current .listItem img {
    width: 130px;
    height: 431px;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery2 .slick-slider .slick-current .listItem img {
    width: 155px !important;
    height: 480px;
  }
}

.containerGallery2 .slick-slider .listItem img {
  width: 166px;
}

.containerGallery2 .slick-slider .slick-current .listItem {
  background-color: transparent;
  transition: width 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  width: 240px !important;
  position: absolute;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  height: 620px;
  margin-top: 0;
  top: 0px;
}

@media(max-width:767px) {
  .containerGallery2 .slick-slider .slick-current .listItem {
    width: 200px !important;
    height: 430px;
  }
}

@media(min-width:1024px) and (max-width:1365px) {
  .containerGallery2 .slick-slider .slick-current .listItem {
    top: -130px;
  }
}


.containerGallery2 .slick-slider .slick-current .listItem .promocion {
  position: absolute;
  z-index: 999;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 0;
  bottom: 7px;
  left: 28px;
  display: none;
}

@media(max-width:1023px) {
  .containerGallery .slick-slider .slick-current .listItem .promocion {
    left: 28px;
  }

  .containerGallery2 .slick-slider .slick-current .listItem .promocion {
    left: 29px;
  }
}

@media(min-width:1024px) and (max-width:1364px) {
  .containerGallery .slick-slider .slick-current .listItem .promocion {
    left: 48px;
  }

  .containerGallery2 .slick-slider .slick-current .listItem .promocion {
    left: 48px;
  }

  .containerGallery2 .slick-slider .slick-current .listItem {
    height: 480px;
  }
}

@media(min-width:1366px) and (max-width:1440px) {
  .containerGallery2 .slick-slider .slick-current .listItem .promocion {
    bottom: 73px !important;
  }
}

@media(min-width:1366px) and (max-width:1400px) {
  .containerGallery2 {
    height: 550px;
  }

  .containerGallery2 .slick-slider .slick-current .listItem {
    height: 550px;
  }

  .containerGallery2 .slick-slider .listItem {
    height: 250px;
    margin-top: 268px;
  }

  .containerGallery2 .slick-slider .listItem img {
    object-position: bottom;
    height: 343px;
  }
}

/* fin galeria inferior */



.slick-current img {
  /* height: initial;
  width: 100%;
  object-fit: initial;
  object-position: initial; */
}

.btn-buy-all_probador {
  display: block;
  border: 0;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  width: 353px;
  height: 51px;
  padding: 11px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
}

.btn-buy-all_probador.desk {
  display: block;
}

.btn-buy-all_probador.mobile {
  display: none;
}

@media(max-width:1023px) {
  .btn-buy-all_probador {
    left: initial;
    margin: 0 auto;
  }

  .btn-buy-all_probador.mobile {
    display: block;
    height: 38px;
    padding: 11px;
    width: 90%;
    font-size: 12px;
  }

  .btn-buy-all_probador.desk {
    display: none;
  }
}

.btn-buy-all_probador:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

@media(min-width:1024px) and (max-width:1365px) {
  .btn-buy-all_probador {
    margin-bottom: 0px;

  }
}

@media(min-width:1366px) and (max-width:1400px) {
  .btn-buy-all_probador {
    margin-bottom: 0px;

  }
}

@media(min-width:1401px) {
  .btn-buy-all_probador {
    margin-bottom: 0px;
  }
}

.btn_cart_items_probador {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff !important;
  width: 213px;
  height: 40px;
  margin: 0 auto;
  padding: 6px;
  font-size: 13px;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  position: absolute;
  top: -10px;
  right: 50px;
  transition: all 0.3s;
  text-transform: uppercase;
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
}

.btn_cart_items_probador::before {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 20px;
}

.btn_cart_items_probador::after {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 18px;
}

.btn_cart_items_probador:hover {
  background-color: #fff;
  color: #000 !important;
  border: 2px solid #000;

}

.btn_cart_items_probador:hover::before,
.btn_cart_items_probador:hover::after {
  filter: brightness(0) saturate(100%) invert(0%) sepia(82%) saturate(7500%) hue-rotate(13deg) brightness(111%) contrast(115%);
}

.btn_cart_items_probador span {
  background-color: #000;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 38px;
  border: 1px solid #fff;
}

.btn_cart_items_probador span:hover {
  color: #fff;
}

.btn_cart_items_probador:hover span {
  color: #fff;
}

@media(max-width:767px) {
  .btn_cart_items_probador {
    display: none;
  }
}

.btn_subir_bajer_probador {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  border: 0;
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -19px;
  top: 230px;
  cursor: n-resize;
  transform: translateX(-50%);
  font-size: 0;
  z-index: 9999;
  padding: 0;
}

@media(max-width:767px) {
  .btn_subir_bajer_probador {
    top: 170px;
  }
}

.btn_subir_bajer_probador::before {
  content: "";
  width: 22px;
  height: 37px;

  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
}

@media(min-width:1024px) and (max-width:1365px) {
  .btn_subir_bajer_probador {
    top: 187px;
  }
}

.container_probador_plugin {
  display: flex;
  width: 100%;
  height: calc(100vh - 82px);
  overflow: hidden;
}

.container_probador_plugin .galley_area {
  position: relative;
  width: 45%;
  margin-top: 50px;
  display: block;
  height: 620px;
}

@media(max-width:767px) {
  .container_probador_plugin .galley_area {
    /*     height: calc(100vh - 200px); */
    margin-top: 30px;
    height: 430px;
  }
}

@media screen and (min-width:1366px) and (max-width:1441px) {
  .container_probador_plugin .galley_area {
    width: 45%;
  }

  .container_probador_plugin .info_probador .info_detail .head_info .title_info h2 {
    font-size: 21px;
  }
}

.container_probador_plugin .info_probador {
  width: 55%;
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
}

@media(max-width:1023px) {
  .container_probador_plugin .info_probador {
    display: none;
  }

  .container_probador_plugin .info_probador {
    position: relative;
    padding-top: 45px;
    height: 100vh;
  }
}

@media (min-width:1366px) and (max-width:1400px) {
  .container_probador_plugin .info_probador {
    width: 55%;
  }
}

.container_probador_plugin .info_probador .block {
  height: 50%;
}

.container_probador_plugin .info_probador .block .info_detail {
  padding: 50px;
}

@media(max-width:1023px) {
  .container_probador_plugin .info_probador .block .info_detail {
    padding: 0;
    margin-left: 34px;
    width: 100%;
  }

  .container_probador_plugin .info_probador .block .info_detail .head_info .title_info h2 {
    margin-top: 0;
  }
}

.container_probador_plugin .info_probador .block .info_detail .head_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_probador_plugin .info_probador .block .info_detail .head_info .price {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container_probador_plugin .info_probador .block .info_detail .head_info .price .priceOld {
  color: #9d9d9d;
  font-size: 14px;
  text-decoration: line-through;
  text-align: right;
}

.container_probador_plugin .info_probador .block .info_detail .head_info .title_info {
  display: flex;
  align-items: center;
}

.container_probador_plugin .info_probador .block .info_detail .head_info .title_info a {
  color: #1E2950;
  margin-left: 10px;
  font-size: 12px;
  text-decoration: none;
}

.container_probador_plugin .info_probador .block .info_detail .head_info .title_info h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

@media(max-width:1023px) {
  .container_probador_plugin .info_probador .block .info_detail .head_info {
    flex-direction: column;
    align-items: flex-start;
  }

  .container_probador_plugin .info_probador .block .info_detail .head_info .price {
    font-size: 13px;
    padding-bottom: 12px;
  }

  .container_probador_plugin .info_probador .block .info_detail .head_info .title_info h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .container_probador_plugin .info_probador .block .info_detail .head_info .title_info a {
    display: none;
  }
}

@media(min-width:1366px) {
  .container_probador_plugin .info_probador .block.superior .info_detail .head_info {
    padding-top: 20px;
  }

  .container_probador_plugin .info_probador .block.inferior .info_detail .head_info h2 {
    margin-top: 0;
  }

  .container_probador_plugin .info_probador .block .info_detail .head_info .title_info {
    align-items: baseline;
  }

  .container_probador_plugin .info_probador .block .info_detail .head_info .title_info h2 {
    margin-bottom: 50px;
  }
}

.container_probador_plugin .info_probador .block.superior {
  position: relative;
}

.container_probador_plugin .info_probador .block.inferior .imageMobile,
.container_probador_plugin .info_probador .block.superior .imageMobile {
  display: block;
  width: 79px;
  height: 99px;
  overflow: hidden;
  min-width: 79px;
  max-width: 79px;
  position: relative;
}

.container_probador_plugin .info_probador .block.inferior .imageMobile img {
  position: absolute;
  top: -95px;
}

@media(min-width:1024px) {

  .container_probador_plugin .info_probador .block.inferior .imageMobile,
  .container_probador_plugin .info_probador .block.superior .imageMobile {
    display: none;
  }
}

@media(max-width:1365px) {
  .container_probador_plugin .info_probador {
    max-width: 400px;
    background-color: #fff;
    margin: 0 auto;
  }

  .container_probador_plugin .info_probador .block.inferior,
  .container_probador_plugin .info_probador .block.superior {
    display: flex;
  }

  .container_probador_plugin .info_probador .block.superior .imageMobile {
    margin-bottom: 32px;
  }

  .container_probador_plugin .info_probador .block.superior .info_detail {
    width: 100%;
  }

  .container_probador_plugin .info_probador .block {
    height: auto;
  }

  .container_probador_plugin .info_probador .block.inferior .imageMobile img,
  .container_probador_plugin .info_probador .block.superior .imageMobile img {
    width: 100%;
    height: auto;
  }

  .container_probador_plugin .info_probador .block.inferior,
  .container_probador_plugin .info_probador .block.superior {
    margin: 0 16px;
  }

}

.container_probador_plugin .info_probador .block.superior::after {
  width: 89%;
  height: 1px;
  content: "";
  display: block;
  border-bottom: 1px dashed #505050;
  border-width: 1.5px;
  position: absolute;
  bottom: 0;
  right: 50px;
}

@media(min-width:768px) and (max-width:1023px) {
  .container_probador_plugin .info_probador .block.superior {
    padding-bottom: 30px;
  }
}

@media(max-width:1365px) {
  .container_probador_plugin .info_probador .block.superior::after {
    display: none;
  }
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles {
  display: flex;
  align-items: flex-start;
}

@media(min-width:1024px) and (max-width:1365px) {
  .container_probador_plugin .info_probador {
    max-width: initial;
    padding-top: 34px;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles {
    flex-direction: column;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles .sizes_info {
    padding-left: 0 !important;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles .sizes_info {
    padding-top: 14px;
  }

  .container_probador_plugin .info_probador .block .info_detail {
    padding: 30px;
    width: 100%;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador {
    align-items: end;
  }
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles .sizes_info {
  padding-left: 25px;
  font-size: 13px;
  color: #0C0C0C;
  display: flex;
  align-items: center;
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles .sizes_info a {
  font-size: 12px;
  color: #0C0C0C;
  text-decoration: none;
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles .sizes_info::before {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
  display: block;
  padding-right: 8px;
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .actions_content .btn_remove {
  display: none;
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .actions_content .btn_add {
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: 2px solid #000;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: normal;
  width: 164px;
  height: 40px;
  transition: all 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.container_probador_plugin .info_probador .block .info_detail .content_gral_probador .actions_content .btn_add:hover {
  background-color: #000;
  color: #fff;
}

@media(max-width:1023px) {
  .container_probador_plugin {
    flex-wrap: wrap;
    height: 100%;
  }

  .container_probador_plugin .info_probador,
  .container_probador_plugin .galley_area {
    width: 100%;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .talles .sizes_info {
    display: none;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .actions_content .btn_remove {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
  }

  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .actions_content .btn_add {
    display: none;
  }
}

@media(min-width:1366px) {
  .container_probador_plugin .info_probador .block .info_detail .content_gral_probador .sizes_and_colors {
    min-width: 185px;
  }

}

.colorBlock,
.sizesBlock {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.colorBlock li,
.sizesBlock li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2C2E33CC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  cursor: pointer;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

.sizesBlock li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.sizesBlock li.disabled {
  position: relative;
  cursor: default;
  border: 1px solid #9E9E9E;
}

.sizesBlock li.disabled span {
  color: #9E9E9E;
}

.sizesBlock li.disabled::after {
  content: '';
  display: block;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, #ffffff 43%, #ffffff 46%, #9E9E9E 47%, #9E9E9E 48%, #ffffff 51%, #ffffff 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.sizesBlock li span.active {
  background-color: #000;
  color: #fff;
}

.colorBlock {
  margin-bottom: 12px;
}

.colorBlock li {
  border: 0px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.colorBlock li span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.colorBlock li.disabled {
  position: relative;
  cursor: default
}

.colorBlock li.disabled::after {
  content: '';
  display: block;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, #ffffff 43%, #ffffff 46%, #ff5216 47%, #ff5216 53%, #ffffff 54%, #ffffff 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.colorBlock li span.active {
  position: relative;
  border: 2px solid #000;
}

.colorBlock li span.active::after {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

@media(max-width:1365px) {

  .colorBlock li,
  .sizesBlock li {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .colorBlock {
    margin-top: 8px;
  }

  .colorBlock li span.active::after {
    width: 17px;
    height: 17px;
  }
}

.alertText {
  color: #FF6161;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  display: block;
  margin-top: 30px;
}

@media(max-width:1023px) {
  .alertText {
    display: none;
  }
}

@media(max-width:767px) {
  .alertText {
    margin-top: 12px;
  }
}

.section_add_cart_mobile {
  display: none;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}

.btnsMobile {
  width: 95%;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btnAddCartMobile {
  background: #000;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 16px;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  line-height: 16px;
  transition: all 0.3s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  height: 51px;
  margin-top: 15px;
}

.btnVolverMobile {
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: 0;
  padding: 16px;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  line-height: 16px;
  transition: all 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  height: 51px;
}

.section_add_cart_mobile .errorMess {
  font-size: 12px;
  color: #FF6161;
  padding-bottom: 5px;
  display: block;
}

@media(max-width:1023px) {
  .section_add_cart_mobile {
    display: flex;
  }
}

.viewInfoAddCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.viewInfoAddCard h2 {
  margin: 0;
  font-size: 20px;
  padding-top: 20px;
  font-weight: 400;
  padding-bottom: 18px;
}

.viewInfoAddCard p {
  margin: 0;
  font-size: 16px;
}

.btnsBarFooter {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 45%;
  background-color: #fff;
  display: block;
  z-index: 9999;
}

@media(max-width:1023px) {
  .btnsBarFooter {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
}

@media(min-width:1440px) and (max-width:1500px) {
  .btnsBarFooter {
    padding-bottom: 5px;
  }
}

.priceResume {
  display: none;
  position: relative;
  padding: 16px;
  z-index: 99;
  width: 100%;
}

.priceResume {
  height: 60px;
  transition: height 3s ease;
}

.priceResume.show {
  height: auto;
  transition: height 3s ease;
}

.priceResume .btnShow {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #FFF;
  position: absolute;
  z-index: 999;
  left: 50%;
  border-radius: 50%;
  top: -10px;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.priceResume .btnShow::after {
  content: '';
  width: 50px;
  height: 24px;
  background-color: #fff;
  display: block;
  top: 10px;
  position: absolute;
  left: -7px;
  z-index: 1;
}

.priceResume .btnShow img {
  position: relative;
  z-index: 9;
}

.priceResume .btnShow .flechaAbajo,
.priceResume .btnShow .flechaArriba {

  width: 17px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}

.priceResume .btnShow .flechaAbajo {
  transform: rotate(180deg);
}

.priceResume h3 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

.priceResume .itemInfo {
  display: none;

}

.priceResume .itemInfo.show {
  display: block;
  height: auto;
}

.priceResume .itemInfo .item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 8px;
}

.priceResume .itemInfo .item.total {
  font-weight: bold;
  padding-top: 16px;
}

@media(max-width:1023px) {
  .priceResume {
    display: block;
  }
}